* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  background-image: url(/Assets/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png);
}
.logo {
  width: 150px;
  height: 100px;
  margin: 0 auto;
}
.sign_in_box {
  width: 500px;
  height: 575px;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  padding: 50px;
}
.sign_in {
  color: white;
  justify-content: center;
  align-items: center;
  padding: 0px 60px 20px;
  font-weight: 600;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.email {
  background-color: #474545;
  color: white;
  width: 70%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.password {
  background-color: #474545;
  color: white;
  width: 70%;
  height: 50px;
  margin-bottom: 40px;
  padding-left: 16px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.submit {
  background-color: #e50914;
  color: white;
  width: 70%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  margin-bottom: 12px;
  
}
.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.links {
  color: white;
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: #b3b3b3;
}
